aside{
	width: 20%;
	height: 100vh;
	float: left; 
	
	background-image: url("fondos/fondo.jpg");
	
	

}

aside a{
	display: block;
}

main{
	width: 80%;
	float: right;
	padding: 0 20px 0;

}

centrado{
	margin-left: auto;
	margin-right: auto;
  }