

#mynav{
	position: fixed;
	background-color: #ccc;
	width: 100%;
	z-index: 100;
}


aside{
	width: 20%;
	height: 100vh;
	float: left; 
	background-color:   #000099;
	position: fixed;

}
aside img{
	width: 100px;

}
h1
aside a{
	display: block;
}

main{
	width: 80%;
	float: right;
	padding: 0 20px 0;
	/*background-image: url("../imagenes/Fondo.png");*/
}
